KERNEL_MODULE_PROBECONF += " men_mdis_kernel men_ll_m47 men_ll_m33 men_ll_icanl2 men_ll_z17   men_ll_z15 men_ll_m34 men_lx_z25"
KERNEL_MODULE_AUTOLOAD += " men_mdis_kernel men_ll_m47 men_ll_m33 men_ll_icanl2 men_ll_z17   men_ll_z15 men_ll_m34 men_lx_z25"

module_conf_men_lx_z25 = "options men_lx_z25 baud_base=1843200 mode=se,se"

SRC_URI_append = "\
   file://Makefile \
   file://system.dsc \
"
